HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

# Terraform state
*.tfstate
*.tfstate.backup

# Terraform provider plugins
/terraform/.terraform/
/terraform/.terraform.lock.hcl
/terraform/main.tf
# Sensitive files
*.pem
*.key
*.tfvars

# Local files and logs
crash.log
override.tf
override.tf.json
terraform.rc